# Python virtual environment
.venv/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg

# Environment variables
.env
.env.local

# Node modules
node_modules/

# OS
.DS_Store
Thumbs.db

# Project Docs
segítség.txt
