# Python virtual environment
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
*.egg


# Node modules
node_modules/

# OS
.DS_Store
Thumbs.db

# Project Docs
segítség.txt
